@import "tailwindcss";

/* css for range(price) */
.range-container {
  position: relative;
  height: 30px;
}

.range-container input[type="range"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none; 
  appearance: none;
  background: none;
}

.range-container input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto; 
  width: 14px;
  height: 15px;
  background: #8b5cf6;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}

.range-track {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 4px;
  background: #ddd;
  transform: translateY(-50%);
  border-radius: 4px;
}

.range-fill {
  position: absolute;
  top: 50%;
  height: 4px;
  background: #8c64e9;
  transform: translateY(-50%);
  border-radius: 4px;
}
/* SEARCH BOX */
.search-box {
  height: 48px;
  border-radius: 14px;
  transition: 0.2s;
}
.search-box:focus-within {
  border-color: #7c3aed;
  box-shadow: 0 0 5px #e9d5ff;
}

/* FILTER BOX */
.filter-wrapper {
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* PRICE RANGE UI */
.range-container {
  position: relative;
  height: 6px;
  background: #e5e7eb;
  border-radius: 5px;
  margin-top: 10px;
}
.range-container input[type="range"] {
  position: absolute;
  width: 100%;
  top: -6px;
  appearance: none;
  height: 6px;
  background: none;
  pointer-events: none;
}
.range-container input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  appearance: none;
  height: 16px;
  width: 16px;
  background: #7c3aed;
  border-radius: 50%;
  cursor: pointer;
}
.range-fill {
  position: absolute;
  height: 6px;
  background: #7c3aed;
  border-radius: 5px;
  top: 0;
}

/* EVENT CARD FIX */
.event-card {
  border-radius: 14px;
  background: white;
  border: 1px solid #e5e7eb;
  padding: 14px;
  transition: 0.2s;
}
.event-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* FULL SCREEN FIX */
.full-page {
  min-height: 100vh;
  padding-bottom: 40px;
}
